<div class="container">
  <img [src]="section?.background_image" alt="" class="grey" />
  <section class="nosotros">
    <h2 class="titulo claro">{{ section?.title }}</h2>
    <article class="items">
      <div *ngFor="let item of section.posts" class="item">
        <div class="icono-titulo-contenedor">
          <!-- <img *ngIf="item?.img?.type === 'img'" [src]="item.img?.source" alt="" />
          <i
            *ngIf="item.img?.type === 'font'"
            [ngClass]="item.img?.source"
            alt=""
            [ngStyle]="{ color: item.img?.color }"
          ></i> -->
          <h2>{{ item?.title }}</h2>
        </div>
        <p [innerHTML]="item?.description"></p>
      </div>
    </article>
  </section>
</div>
