<section
  style="background-image:url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80')"
  [id]="section?.slug"
>
  <div class="ancho-maximo-container">
    <h2 class="titulo">{{ section?.title }}</h2>
    <p class="descripcion">{{ section?.description }}</p>
    <div class="cards">
      <app-development-card
        *ngFor="let post of section?.posts"
        [post]="post"
        [typeStyle]="'redondo'"
      ></app-development-card>
    </div>
    <button class="mas">Ver más</button>
  </div>
</section>
