<main>
  <div class="media">
    <img [src]="contact?.background" [alt]="contact?.title" />
  </div>
  <div class="info">
    <p [innerHTML]="contact?.data"></p>
  </div>
  <form>
    <h2>{{contact?.form?.title}}</h2>
    <label for="nombre">{{contact?.form?.name}}</label>
    <input type="text" name="nombre" placeholder="Nombre" />
    <label for="email">{{contact?.form?.mail}}</label>
    <input type="email" name="email" placeholder="usario@usario.com" />
    <label for="asunto">{{contact?.form?.subject?.title}}</label>
    <select name="asunto" id="asunto">
      <ng-container *ngFor="let asunto of contact?.form?.subject?.options">
        <option [value]="asunto">{{asunto}}</option>
      </ng-container>
    </select>
    <label for="contenido">{{contact?.form?.body}}</label>
    <textarea name="contenido" [placeholder]="contact?.form?.subtitle" id="contenido" cols="30" rows="5"></textarea>
    <button type="submit">{{contact?.form?.text_button}}</button>
  </form>
  <div class="map">
    <app-map></app-map>
  </div>
</main>
