<section class="header-page">
  <div class="header-page-info">
    <h1>{{ pageContent.title }}</h1>
    <p>{{ pageContent.description }}</p>
  </div>
  <img [src]="pageContent.img" alt="" />
</section>
<section class="container">
  <div>
    <app-section-with-collapsible
      *ngFor="let section of pageContent.sections"
      [section]="section"
    ></app-section-with-collapsible>
  </div>
  <app-sub-menu [title]="pageContent.title" [secciones]="pageContent.sections"></app-sub-menu>
</section>
