<section class="tarjeta-seccion" [id]="section?.slug">
  <div class="tarjeta-parte-visible" [ngClass]="{'singleRow': section?.posts[0]?.title}">
    <div class="tarjeta-info">
      <h3 class="tarjeta-titulo">{{ section?.title }}</h3>
      <h3 class="tarjeta-subtitulo">{{ section?.description }}</h3>
        <p [innerHTML]="section?.posts[0]?.description" class="tarjeta-contenido"></p>
      </div>
      <ng-container *ngIf="section?.posts[0]?.image">
        <div class="tarjeta-imagen">
          <img [src]="section?.posts[0]?.image" [alt]="section?.posts[0]?.title" />
        </div>
      </ng-container>
    
    <div class="tarjeta-botones">
      <ng-container *ngFor="let post of extraposts; let i = index">
  
        <ng-container *ngIf="i % 2 === 0; else otherBg">
            <div
            (click)="seeMore(desplegable, i)"
            class="btn-2"
            [ngClass]="{ active: i === actualDataIndex && show[i] }"
            [ngStyle]="{ background: '#303030', color: 'white' }"
          >
            <i class="check far fa-check-circle"></i>
            <span>{{ post?.title}}</span>
            <i class="fas fa-angle-double-right arrow"></i>
          </div>
        </ng-container>

        <ng-template #otherBg>
          <div
            (click)="seeMore(desplegable, i)"
            class="btn-2"
            [ngClass]="{ active: i === actualDataIndex && show[i] }"
            [ngStyle]="{ background: '#F8F8F8', color: 'black' }"
          >
            <i class="check far fa-check-circle"></i>
            <span>{{ post?.title}}</span>
            <i class="fas fa-angle-double-right arrow"></i>
          </div>
        </ng-template>
        
      </ng-container>
    </div>
  </div>
  <div class="tarjeta-parte-no-visible" #desplegable>
    <app-collapsible [post]="actualData"></app-collapsible>
  </div>
</section>
