<ng-container *ngFor="let item of nosotros">
  <div [ngSwitch]="item.componentName">
    <app-section-with-collapsible-grid
      *ngSwitchCase="'section-with-collapsible-grid'"
      [data]="item"
    ></app-section-with-collapsible-grid>
    <app-section-tex-grid *ngSwitchCase="'section-with-text-grid'" [data]="item"></app-section-tex-grid>
    <app-section-simple2 *ngSwitchCase="'section-simple2'" [data]="item"></app-section-simple2>
    <app-section-with-multiple-subsection
      *ngSwitchCase="'section-with-multiple-subsection'"
      [data]="item"
      background="#F9F9F9"
    ></app-section-with-multiple-subsection>
    <!-- <app-section-with-collapsible-grid
      *ngSwitchCase="'section-with-collapsible-grid'"
      [data]="item"
      type="simple"
    ></app-section-with-collapsible-grid> -->
  </div>
</ng-container>
