/* Desarollos tecnológicos */
.desarollosTecnologicos {
}
/* Nosotros */
.nosotros {
  background: #303030;
  padding: 40px 80px 80px;
  color: white;
}
.nosotros > .titulo {
  margin-bottom: 30px;
}
.nosotros .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.nosotros .items .icono-titulo-contenedor {
  margin-bottom: 5px;
  text-transform: uppercase;
}
.nosotros .items .icono-titulo-contenedor h2 {
  font-size: 15.5px;
}
.nosotros .items .item p {
  font-size: 14px;
}
/* Valores y principios coorporativos */
.valores-principios {
  padding: 60px 80px 90px;
  background: white;
}
.valores-principios .titulo {
  font-size: 22px;
  margin-bottom: 60px;
}
.contenedor-valores-principios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.valor-principio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.valor-principio img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.valor-principio img.red {
  filter: grayscale(100%) brightness(15%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.valor-principio img.blue {
  filter: grayscale(100%) brightness(12%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}
.valor-principio img.yellow {
  filter: grayscale(0%) brightness(40%) sepia(62%) hue-rotate(5deg) saturate(300%) contrast(0.7);
}
.valor-principio img.grey {
  filter: grayscale(10%) brightness(25%) contrast(0.9);
}
.valor-principio .contenido {
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 50px 50px 60px;
  color: white;
  z-index: 6;
}
.valor-principio .contenido h3 {
  margin-bottom: 15px;
}

/* Clientes */
.clientes {
  background: #f8f8f8;
  padding-top: 40px;
}

@media screen and (max-width: 1112px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 959px) {
}
@media screen and (max-width: 768px) {
  .valores-principios {
    padding: 50px 70px 80px;
  }
  .nosotros {
    padding: 30px 60px 60px;
  }
}
@media screen and (max-width: 568px) {
  .contenedor-valores-principios {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .valores-principios {
    padding: 40px 50px 70px;
  }
  .valores-principios .titulo {
    margin-bottom: 40px;
  }
  .nosotros {
    padding: 30px 50px 50px;
  }
  .nosotros > .titulo {
    margin-bottom: 15px;
  }
  .nosotros .items {
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: justify;
  }
}
@media screen and (max-width: 470px) {
  .valores-principios {
    padding: 30px 30px 50px;
  }
  .valores-principios .titulo {
    margin-bottom: 25px;
  }
  .nosotros {
    padding: 30px 30px 50px;
  }
  .nosotros > .titulo {
    margin-bottom: 10px;
  }
  .valor-principio .contenido {
    padding: 40px 35px 50px;
  }
}
@media screen and (max-width: 375px) {
  .valor-principio .contenido {
    padding: 30px 25px 40px;
  }
}
@media screen and (max-width: 320px) {
}
