<!-- <app-carousel-media [data]="data"></app-carousel-media> -->
<ng-container *ngFor="let section of page?.sections">
  <div [ngSwitch]="section?.component">
    <app-section-with-collapsible-grid
      *ngSwitchCase="'section-with-collapsible-grid'"
      [section]="section"
    ></app-section-with-collapsible-grid>
    <app-section-text-grid *ngSwitchCase="'section-text-grid'" [section]="section"></app-section-text-grid> 
    <app-section-simple2 *ngSwitchCase="'section-simple2'" [section]="section"></app-section-simple2>
    <app-section-with-multiple-subsection
      *ngSwitchCase="'section-with-multiple-subsection'"
      [section]="section"
      background="#F9F9F9"
    ></app-section-with-multiple-subsection>
    <app-carousel-media *ngSwitchCase="'carousel-media'" [gallery]="section?.posts[0].gallery"></app-carousel-media>
  </div>
</ng-container>
