<ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="posts || data">
  <ngu-item class="own-item" *nguCarouselDef="let item; let i = index; let ani = animate">
    <app-card-carousel-item [post]="item"></app-card-carousel-item>
  </ngu-item>

  <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5 : 1"></button>
  <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5 : 1"></button>

  <ul class="myPoint" NguCarouselPoint>
    <li
      *ngFor="let i of myCarousel.pointNumbers; let i = index"
      [class.active]="i == myCarousel.activePoint"
      (click)="myCarousel.moveTo(i)"
    ></li>
  </ul>
</ngu-carousel>
