<section class="tarjeta-seccion">
  <div class="tarjeta-parte-visible">
    <div class="tarjeta-info">
      <h3 class="tarjeta-titulo">{{ seccion.nombre }}</h3>
      <h3 class="tarjeta-subtitulo">{{ seccion.subtitulo }}</h3>
      <p class="tarjeta-contenido">{{ seccion.contenido }}</p>
    </div>
    <div class="tarjeta-imagen">
      <img [src]="seccion.imagen" alt="" />
    </div>
    <div class="tarjeta-botones">
      <ng-container *ngFor="let boton of seccion.botones; let i = index">
        <div
          *ngIf="boton.estilo == 1"
          class="btn-1"
          (click)="verMas(desplegable, i)"
          [ngStyle]="{ background: boton.background, color: boton.color }"
        >
          <span>{{ boton.contenido }}</span>
          <img [src]="boton.imgIcono" class="arrow" alt="" />
        </div>
        <div
          *ngIf="boton.estilo == 2"
          class="btn-2"
          (click)="verMas(desplegable, i)"
          [ngStyle]="{ background: boton.background, color: boton.color }"
        >
          <img [src]="boton.imgCheck" alt="" class="check" />
          <span>{{ boton.contenido }}</span>
          <img [src]="boton.img" alt="" class="background" />
          <img [src]="boton.imgIcono" alt="" class="arrow" />
        </div>
      </ng-container>
    </div>
  </div>
  <div class="tarjeta-parte-no-visible" #desplegable>
    <app-desplegable [informacion]="informacionActual"></app-desplegable>
  </div>
</section>
