<header [ngClass]="{ home: tipo === 'home', 'menu-open': open, contacto: tipo === 'contacto' }" id="header" #header>
  <div class="contenedor-logo">
    <ng-template [ngIf]="!sticky && !open" [ngIfElse]="logoBlanco">
      <img src="assets/img/logo.png" alt="Grup tecnológico CATO" class="logo" routerLink="/inicio" />
    </ng-template>
    <ng-template #logoBlanco>
      <img src="assets/img/logo-blanco.png" alt="Grup tecnológico CATO" class="logo" routerLink="/inicio" />
    </ng-template>
  </div>
  <div class="menu-container">
    <div [ngClass]="{ 'menu-open': open }" class="menu-aux" #menu>
      <ul class="menu">
        <!-- <li class="menu-item">
          <a (click)="navigate('/')" routerLink="/">Inicio</a>
        </li>
        <li class="menu-item" [class.active]="isActive(['nosotros'])">
          <a (click)="navigate('nosotros')">Nosotros</a>
        </li>
        <li class="menu-item" [class.active]="isActive(['innovacion'])">
          <a (click)="navigate('innovacion')">Innovación</a>
        </li>
        <li class="menu-item" [class.active]="isActive(['software'])">
          <a (click)="navigate('software')">Software</a>
        </li>
        <li class="menu-item" [class.active]="isActive(['hardware'])">
          <a (click)="navigate('hardware')">Hardware</a>
        </li>
        <li class="menu-item" [class.active]="isActive(['proyectos'])">
          <a (click)="navigate('proyectos')">Proyectos</a>
        </li>
        <li class="menu-item" [class.active]="isActive(['formacion'])">
          <a (click)="navigate('formacion')">Formación</a>
        </li> -->
        <ng-container *ngFor="let item of menus">
          <li class="menu-item">
            <ng-container *ngIf="item?.children; else notChildren">
              <a [routerLink]="item?.url" routerLinkActive="active">{{item?.name}}</a>
              <ul class="sub-menu">
                <li *ngFor="let child of item?.children" class="sub-menu-item"><a>{{child?.name}}</a></li>
              </ul>
            </ng-container>
            <ng-template #notChildren>
              <a [routerLink]="item?.url" routerLinkActive="active">{{item?.name}}</a>
            </ng-template>
          </li>
        </ng-container>
      </ul>
      <div class="whatsapp-container">
        <i class="fab fa-whatsapp"></i>
      </div>

      <app-select-language [lang]="lang" [sticky]="sticky" [menu]="open"></app-select-language>

    </div>
    <div class="menu-button" (click)="openMenu()">
      <div class="line1" #line1></div>
      <div class="line2" #line2></div>
      <div class="line3" #line3></div>
    </div>
  </div>
</header>
