header {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--bar-height);
  max-height: var(--bar-height);
  z-index: 9999999;
  transition: all 0.3s ease;
}
header .logo {
  outline: none;
  cursor: pointer;
}
header .menu-container {
  display: flex;
  height: 100%;
  align-items: center;
}
header .menu-aux {
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.3s ease;
}
header .menu {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
header .menu .menu-item {
  height: 100%;
  position: relative;
}
header .menu .menu-item > a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: 600;
}
header .menu .menu-item > a:hover {
  color: var(--main-red);
}
header.sticky .menu .menu-item > a:hover {
  background: rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.12);
}

header.home .menu .menu-item > a {
  color: white;
}
header .menu .menu-item > a.active {
  color: var(--main-red);
}
header.sticky .menu .menu-item > a.active {
  color: red;
}
header.contacto {
  background: white;
}

.whatsapp-container {
  background: #008b00;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  color: white;
}
.menu-container img {
  width: 100%;
  height: 100%;
}

header .contenedor-logo img {
  height: 50px;
  object-fit: contain;
}

header.sticky {
  background-color: var(--dark);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
header.sticky .menu .menu-item a {
  color: white;
}
header.sticky .whatsapp-container {
  background: #464646;
  background: #202020;
}
.sub-menu::before {
  content: '';
  position: absolute;
  top: -26px;
  left: 28px;
  width: 0;
  height: 0;
  border-right: 14px solid transparent;
  border-top: 14px solid transparent;
  border-left: 14px solid transparent;
  border-bottom: 14px solid var(--dark-95);
}
header .menu .menu-item:hover .sub-menu {
  display: block;
  opacity: 1;
}
.sub-menu {
  display: none;
  position: absolute;
  opacity: 0;
  list-style: none;
  background: var(--dark-95);
  padding: 5px 25px;
  transition: all 0.25 ease 0.1s;
}
.sub-menu .sub-menu-item {
  margin: 10px 0;
}
.sub-menu .sub-menu-item > a {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.95em;
  line-height: 0.95em;
  cursor: pointer;
}
.menu-button {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  padding-top: 3px;
  cursor: pointer;
  outline: none;
}
.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background: black;
}

header.home .line1,
header.home .line2,
header.home .line3 {
  background: white;
}

header.sticky .line1,
header.sticky .line2,
header.sticky .line3 {
  background: white;
}

header.menu-open .line1,
header.menu-open .line2,
header.menu-open .line3 {
  background: white;
}
.menu-button-line1-out {
  animation: animation-line1-out 0.4s linear forwards;
}
.menu-button-line2-out {
  animation: animation-line2-out 0.4s linear forwards;
}
.menu-button-line3-out {
  animation: animation-line3-out 0.4s linear forwards;
}

.menu-button-line1 {
  animation: animation-line1 0.4s linear forwards;
}
.menu-button-line2 {
  animation: animation-line2 0.4s linear forwards;
}
.menu-button-line3 {
  animation: animation-line3 0.4s linear forwards;
}

@keyframes animation-line1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  40% {
    transform: translateY(7px) rotate(0);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}
@keyframes animation-line3 {
  0% {
    transform: translateY(0) rotate(0);
  }
  40% {
    transform: translateY(-7px) rotate(0);
  }
  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@keyframes animation-line2 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animation-line1-out {
  0% {
    transform: translateY(7px) rotate(45deg);
  }
  60% {
    transform: translateY(7px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes animation-line3-out {
  0% {
    transform: translateY(-7px) rotate(-45deg);
  }
  40% {
    transform: translateY(-7px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes animation-line2-out {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1112px) {
}
@media screen and (max-width: 1023px) {
  header.menu-open {
    background: var(--dark);
  }
  header.sticky {
    background: var(--dark);
  }
  header .menu-aux {
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.95);
    background: var(--dark-95);
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    transform: translateX(-100%);
    padding: 20px 30px 40px;
  }
  header .menu-aux.menu-open {
    transform: translateX(0);
  }
  header .menu {
    flex-direction: column;
    height: initial;
    align-items: flex-start;
  }
  .menu-button {
    display: flex;
  }
  header.home .menu .menu-item a {
    color: black;
  }

  header.menu-open .menu .menu-item a {
    color: white;
  }
  header.menu-open .menu .menu-item > a.active {
    color: var(--main-red);
  }
  header .menu .menu-item a {
    padding: 10px 20px;
  }
  .whatsapp-container {
    margin-left: 0;
    display: none;
  }
  .sub-menu::before {
    display: none;
  }
  .sub-menu {
    position: static;
    list-style: none;
    background: none;
    padding: 0 15px;
    transition: all 0.25 ease;
  }
  .sub-menu .sub-menu-item > a {
    color: white;
  }
  header .menu .menu-item {
    height: initial;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 568px) {
  header {
    padding: 0 25px;
  }
  header .menu-aux {
    align-items: flex-start;
    padding: 20px 20px 40px;
  }
}
@media screen and (max-width: 375px) {
  header {
    padding: 0 20px;
  }
  header .menu-aux {
    height: initial;
    align-items: flex-start;
    padding: 20px 15px 40px;
  }
}
@media screen and (max-width: 320px) {
}
