header {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--bar-height);
  max-height: var(--bar-height);
  z-index: 9999999;
  transition: all 0.3s ease;
}
header .logo {
  outline: none;
  cursor: pointer;
}
header .menu-container {
  display: flex;
  height: 100%;
  align-items: center;
}
header .menu-aux {
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.3s ease;
}
header .menu {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
header .menu .menu-item {
  height: 100%;
}
header .menu .menu-item a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 17px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
header .menu .menu-item a:hover {
  color: var(--main-red);
}
header.sticky .menu .menu-item a:hover {
  background: rgba(255, 255, 255, 0.1);
}

header.home .menu .menu-item a {
  color: white;
}
header .menu .menu-item.active a {
  color: var(--main-red);
}
header.sticky .menu .menu-item.active a {
  color: #fefefe;
  color: #ea5252;
  font-weight: 500;
}

.whatsapp-container {
  background: #008b00;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.menu-container img {
  width: 100%;
  height: 100%;
}

header .contenedor-logo img {
  height: 50px;
  object-fit: contain;
}

header.sticky {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
header.sticky .menu .menu-item a {
  color: white;
}
header.sticky .whatsapp-container {
  background: #464646;
  background: #202020;
}

.menu-button {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  padding-top: 3px;
  cursor: pointer;
  outline: none;
}
.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background: black;
}

header.home .line1,
header.home .line2,
header.home .line3 {
  background: white;
}

header.sticky .line1,
header.sticky .line2,
header.sticky .line3 {
  background: white;
}

header.menu-open .line1,
header.menu-open .line2,
header.menu-open .line3 {
  background: white;
}
.menu-button-line1-out {
  animation: animation-line1-out 0.4s linear forwards;
}
.menu-button-line2-out {
  animation: animation-line2-out 0.4s linear forwards;
}
.menu-button-line3-out {
  animation: animation-line3-out 0.4s linear forwards;
}

.menu-button-line1 {
  animation: animation-line1 0.4s linear forwards;
}
.menu-button-line2 {
  animation: animation-line2 0.4s linear forwards;
}
.menu-button-line3 {
  animation: animation-line3 0.4s linear forwards;
}

@keyframes animation-line1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  40% {
    transform: translateY(7px) rotate(0);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}
@keyframes animation-line3 {
  0% {
    transform: translateY(0) rotate(0);
  }
  40% {
    transform: translateY(-7px) rotate(0);
  }
  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@keyframes animation-line2 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animation-line1-out {
  0% {
    transform: translateY(7px) rotate(45deg);
  }
  60% {
    transform: translateY(7px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes animation-line3-out {
  0% {
    transform: translateY(-7px) rotate(-45deg);
  }
  40% {
    transform: translateY(-7px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes animation-line2-out {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1112px) {
}
@media screen and (max-width: 1023px) {
  header.menu-open {
    background: black;
  }
  header.sticky {
    background: black;
  }
  header .menu-aux {
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.95);
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    transform: translateX(-100%);
    padding: 20px 30px 40px;
  }
  header .menu-aux.menu-open {
    transform: translateX(0);
  }
  header .menu {
    flex-direction: column;
    height: initial;
    align-items: flex-start;
  }
  .menu-button {
    display: flex;
  }
  header.home .menu .menu-item a {
    color: black;
  }

  header.menu-open .menu .menu-item a {
    color: white;
  }
  header.menu-open .menu .menu-item.active a {
    color: var(--main-red);
  }
  header .menu .menu-item a {
    padding: 15px 20px;
  }
  .whatsapp-container {
    margin-left: 0;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 568px) {
  header {
    padding: 0 25px;
  }
  header .menu-aux {
    align-items: flex-start;
    padding: 20px 20px 40px;
  }
}
@media screen and (max-width: 375px) {
  header {
    padding: 0 20px;
  }
  header .menu-aux {
    height: initial;
    align-items: flex-start;
    padding: 20px 15px 40px;
  }
}
@media screen and (max-width: 320px) {
}
