<main>
  <app-hero></app-hero>

  <ng-container *ngFor="let section of Home?.sections">
    <div [ngSwitch]="section?.component">
      <app-section-with-carousel1 *ngSwitchCase="'section-with-carousel1'" [section]="section"></app-section-with-carousel1>
      <app-section-with-scroll *ngSwitchCase="'section-with-scroll'" [section]="section"></app-section-with-scroll>
      <app-section-with-carousel2 *ngSwitchCase="'section-with-carousel2'" [section]="section"></app-section-with-carousel2>
      <app-section-simple *ngSwitchCase="'section-simple'" [section]="section"></app-section-simple>
      <app-section-with-multiple-subsection
        *ngSwitchCase="'section-with-multiple-subsection'"
        [section]="section"
        [background]="section?.color"
      ></app-section-with-multiple-subsection>
      <app-join-us *ngSwitchCase="'section-stacks'" 
        [posts]="section?.posts" 
        [title]="section?.title" 
        [description]="section?.description"></app-join-us>
    </div>
  </ng-container>

</main>
