/* General */

.titulo {
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 15px;
  text-align: center;
}
.descripcion {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

/* Perfil de capacidades*/
.perfil-capacidades{
  background-size: cover;
  background-color: #FAFAFA;
  padding: 80px 30px 150px;
}
.capacidades{
  display: flex;
  margin-top: 70px;
  padding: 0 50px;
}
.capacidad{
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.capacidad-imagen-contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 63px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  margin-right: 20px;
}
.capacidad-imagen-contenedor img{
  width: 100%;
}
.capacidad-contenido{
  font-size: 17px;
  color: #333333;
  width: 190px;
}

/* Lineas tecnologicas*/
.lineas-tecnologicas {
  display: flex;
  color: white;
  height: 735px;
}
.lineas-descripcion-contenedor {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #141414;
  padding: 20px 120px;
}
.lineas-titulo {
  text-transform: uppercase;
  text-align-last: left;
  width: 100%;
  margin-bottom: 10px;
}
.lineas-contenedor {
  width: 50%;
  background: black;
  padding: 30px 25px;
  overflow-y: scroll;
}
.lineas-contenedor::-webkit-scrollbar {
  width: 8px;
}

.lineas-contenedor::-webkit-scrollbar-track {
  background: black;
}

.lineas-contenedor::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.35);
  border-radius: 10px;
}


/* Casos de exito*/

.casos-exito {
  padding: 60px 0 80px;
}
.tarjetas-caso {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

/* Desarrollos de autoria*/
.desarrollos-autoria {
  margin-bottom: 50px;
  color: white;
  padding: 60px 0 90px;
  background-size: cover;
}
.desarrollos-autoria .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
  width: 100%;
}
.desarrollos-autoria .titulo,
.desarrollos-autoria .descripcion {
  text-shadow: 1px 1px 1px black;
}
.desarrollos-autoria .mas{
  align-self: flex-end;
  margin-top: 40px;
  background: transparent;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
}

/*Clientes*/
.clientes {
  padding: 0 140px 60px;
}

/* Colabora */
.colabora {
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 120px 110px;
}
.colabora .titulo {
  text-align: center;
  margin-bottom: 50px;
}
.colabora .titulo h2 {
  font-size: 34px;
  font-weight: 400;
}
.colabora .titulo p {
  text-transform: none;
  font-size: 20px;
}
.colabora h3 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 21px;
}

.colabora .botones button {
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 30px;
  height: 55px;
  background: transparent;
  color: white;
  margin: 0 7px 25px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
