<main>
  <section class="perfil-capacidades" style="background-image: url('assets/img/bg-capacidades@2x.png');">
    <h2 class="titulo">Perfil de capacidades</h2>
    <div class="capacidades" id="capacidades">
      <app-carousel-capacidades [data]="capacidades"></app-carousel-capacidades>
    </div>
  </section>
  <app-lineas-tecnologicas [lineasTecnologicas]="lineasTecnologicas"></app-lineas-tecnologicas>

  <section class="casos-exito" style="background-image:url(''); background-color:#fdfdfd">
    <h2 class="titulo">Casos de éxito</h2>
    <p class="descripcion">
      Empresas que confiaron en Grupo CATO para potenciar su nivel tecnológico
    </p>
    <div class="tarjetas-caso">
      <app-carousel-caso-exito [data]="casosDeExito"></app-carousel-caso-exito>
    </div>
  </section>

  <section
    class="desarrollos-autoria"
    style="background-image:url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80')"
  >
    <div class="ancho-maximo-container">
      <h2 class="titulo">Desarrollos de autoría</h2>
      <p class="descripcion">
        Estos son los proyectos por Grupo CATO que te invitamos a conocer
      </p>
      <div class="cards">
        <app-development-card
          *ngFor="let desarrollo of desarrollosDeAutoria"
          [desarrollo]="desarrollo"
          estilo="redondo"
        ></app-development-card>
      </div>
      <button class="mas">Ver más</button>
    </div>
  </section>

  <section class="clientes">
    <h2 class="titulo">Clientes</h2>
    <p class="descripcion">
      Organizaciones que confiaron en el Grupo CATO para potenciar su crecimiento a nivel tecnológico
    </p>
    <app-sector *ngFor="let sector of clientes" [sector]="sector"></app-sector>
  </section>
  <section class="colabora">
    <div class="titulo">
      <h2>Colabora con nosotros</h2>
      <p>Juntos podemos crecer</p>
    </div>
    <h3>En Grupo CATO estamos buscando los siguientes perfiles:</h3>
    <div class="botones">
      <button>Desarollo de sosftware</button>
      <button>Producción multimedia</button>
      <button>Equipos interdisciplinarios</button>
    </div>
  </section>
</main>
