<main>
  <app-hero></app-hero>

  <ng-container *ngFor="let item of home">
    <div [ngSwitch]="item.componentName">
      <app-section-with-carousel2 *ngSwitchCase="'section-with-carousel2'" [data]="item"></app-section-with-carousel2>
      <app-section-simple *ngSwitchCase="'section-simple'" [data]="item"></app-section-simple>
      <app-section-with-multiple-subsection
        *ngSwitchCase="'section-with-multiple-subsection'"
        [data]="item"
      ></app-section-with-multiple-subsection>
    </div>
  </ng-container>

  <ng-container *ngFor="let section of Home?.sections">
    <div [ngSwitch]="section?.component">
      <app-section-with-carousel1 *ngSwitchCase="'section-with-carousel1'" [section]="section"></app-section-with-carousel1>
      <app-section-with-scroll *ngSwitchCase="'section-with-scroll'" [section]="section"></app-section-with-scroll>
      <!-- <app-section-with-carousel2 *ngSwitchCase="'section-with-carousel2'" [data]="item"></app-section-with-carousel2>
      <app-section-simple *ngSwitchCase="'section-simple'" [data]="item"></app-section-simple>
      <app-section-with-multiple-subsection
        *ngSwitchCase="'section-with-multiple-subsection'"
        [data]="item"
      ></app-section-with-multiple-subsection> -->
    </div>
  </ng-container>

  <app-join-us data></app-join-us>
</main>
