<div class="desplegable" #desplegable [ngSwitch]="informacion.estilo">
  <div *ngSwitchCase="1" class="tipo-1">
    <div class="container-img">
      <img [src]="informacion.imgPrincipal" alt="" />
    </div>
    <p [innerHTML]="informacion.contenido"></p>
  </div>
  <div *ngSwitchCase="2" class="tipo-2">
    <div class="container-img">
      <img [src]="informacion.imgPrincipal" alt="" />
    </div>
    <div class="container-info">
      <img [src]="informacion.imgSecundaria" alt="" />
      <img src="" alt="" />
      <p [innerHTML]="informacion.contenido"></p>
    </div>
  </div>
  <div *ngSwitchCase="3" class="tipo-3">
    <div *ngFor="let item of informacion.items" class="empresa">
      <img [src]="item.img" alt="" />
      <p>{{ item.descripcion }}</p>
    </div>
  </div>
</div>
