.sub-menu {
  background: #f7f7f7;
  background: #eaeaea;
  padding: 60px 40px;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
}

.title {
  color: #303030;
  color: var(--main-red);
  margin-bottom: 15px;
}
.sub-menu ul {
  list-style: none;
}
.sub-menu ul::-webkit-scrollbar {
  width: 0;
  height: 0px;
}

.sub-menu ul::-webkit-scrollbar-track {
  background: #303030;
  width: 0;
  height: 0px;
}

.sub-menu ul::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 2px;
}
.sub-menu ul li {
  height: 100%;
}

.sub-menu ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 100%;
  font-size: 14px;
  color: #1a1a1a;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}
.sub-menu ul li a:hover {
  color: #6d6d6d;
}

.sub-menu.oscuro {
  background: #111;
  padding: 40px 40px 60px;
}
.sub-menu.oscuro .title {
  padding-bottom: 15px;
  border-bottom: 4px solid white;
}

.sub-menu.oscuro ul li a {
  color: white;
}

@media screen and (max-width: 1112px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 959px) {
}
@media screen and (max-width: 768px) {
  .sub-menu {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 568px) {
  .sub-menu {
    display: none;
  }
}
@media screen and (max-width: 470px) {
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 320px) {
}
