.card {
  padding: 30px 15px 25px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: white;
  color: #333;
  height: 230px;
}
.card.cuadrado {
  border-radius: 0;
}
.card img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.card .contenido {
  height: 50%;
}
.card h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
  line-height: 20px;
  font-size: 17px;
}
