* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
}
:root {
  --main-red: #b10808;
  --bar-height: 80px;
}
body {
  padding-top: calc(var(--bar-height));
}
.ancho-maximo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

/* General */

.titulo {
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 15px;
  text-align: center;
}
.descripcion {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

/*Clientes*/
.clientes {
  padding: 50px 80px 60px;
  background: white;
}

@media screen and (max-width: 1112px) {
}
@media screen and (max-width: 1023px) {
  .ancho-maximo-container {
    margin: 0 50px;
  }
}
@media screen and (max-width: 959px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 568px) {
  .clientes {
    padding: 40px 40px 50px;
  }
}
@media screen and (max-width: 470px) {
  .ancho-maximo-container {
    margin: 0 20px;
  }
}
@media screen and (max-width: 375px) {
  .clientes {
    padding: 30px 20px 40px;
  }
}
@media screen and (max-width: 320px) {
}
